
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="sellercontainer">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toolbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">B2B-Ecommerce</a>
        </div>

        <div class="collapse navbar-collapse"  id="toolbar">
            <ul class="nav navbar-nav" class="nav nav-pills">
                <li >
                    <a href="#/home">About</a>
                </li>

                <li>
                    <a class="active" href="#/loginBuyer">Login</a>
                </li>

                <li>

                    <a class="active pull-right"
                       ng-href="#/loginBuyer" float="right">Logout</a>


                </li>
                <li>
                    <a class="active pull-right"
                       ng-href="#/createCommodity" float="right">create commodity</a>

                </li>
                <li>
                    <a class="active pull-right"
                       ng-href="#/createVariety" float="right">create variety</a>

                </li>

            </ul>
        </div>

    </div>

</nav>



<div class="container">

    <div ng-init="model.init()" />



    <br>

    <div class="commoditiescontainer">


        <div ng-repeat="commodity in allCommodities track by $index" class="col-lg-3 col-md-4 col-xs-6 thumb">

                <span>
                    <a  class="thumbnail">
                        <img id="imagessize" src="{{commodity.commoditypicture}}" />
                        <a class="btn btn-primary btn-block" id="commodities" class="active" ng-href="#/commodity/{{commodity.commodityname}}">
                            {{commodity.commodityname}}
                        </a>

                    </a>
                </span>
        </div>

    </div>
</div>



<nav class="navbar  navbar-fixed-bottom navbar-pages-project">
    <p class="navbar-text pull-right" style="margin-right: 15px">
        Copyrights@2016
    </p>
</nav>


<script src="js/jquery.js"></script>


<script src="js/bootstrap.min.js"></script>








