<head>
    <style>
        .imgSize {
            max-width: 100px;
            height: 100px;
        }
    </style>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="logincontainer">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Agricom</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="active" href="#/home">About</a>
                </li>




            </ul>
        </div>

    </div>

</nav>

<div class="container">

    <div ng-show="buyerModel.error" class="alert alert-danger" role="alert">
        {{buyerModel.error}}
    </div>

    <div class="container">
        <form class="form-horizontal" role="form">
            <h2>Registration Form</h2>
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">UserName</label>
                <div class="col-sm-9">
                    <input ng-model="buyerModel.buyer.username" type="text" class="form-control" id="username" placeholder="username" autofocus>


                    <span class="help-block">Username: alice,bob</span>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">

                    <input ng-model="buyerModel.buyer.password" type="password" class="form-control" id="password" placeholder="password">

                </div>
            </div>
            <div class="form-group">
                <label for="verifyPassword" class="col-sm-3 control-label">Confirm Password</label>
                <div class="col-sm-9">
                    <input ng-model="buyerModel.buyer.verifyPassword" type="password" class="form-control" id="verifyPassword" placeholder="verifypassword">

                </div>
            </div>

            <div class="form-group">
                <label for="role" class="col-sm-3 control-label">Role</label>
                <div class="col-sm-9">
                    <input ng-model="buyerModel.buyer.role" type="text" class="form-control" id="role" placeholder="BUYER or SELLER">


                </div>
            </div>


            <div class="form-group">

                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <a ng-click="buyerModel.registerBuyer(buyerModel.buyer.username,buyerModel.buyer.password,buyerModel.buyer.verifyPassword,buyerModel.buyer.role)"  class="btn btn-primary">Register</a>


                    <span></span>

                    <a href="#/loginBuyer" class="btn btn-default">Cancel</a>
                </div>
            </div>





        </form> <!-- /form -->
    </div> <!-- ./container -->

</div>






<nav class="navbar  navbar-fixed-bottom navbar-pages-project">
    <p class="navbar-text pull-right" style="margin-right: 15px; background-color: snow">
        Copyrights@2016
    </p>
</nav>

<!--</div>
</div>-->

<script src="js/jquery.js"></script>


<script src="js/bootstrap.min.js"></script>

</body>

</html>